@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin mask-repeat($value) {
  mask-repeat: $value;
  -webkit-mask-repeat: $value;
}

@mixin mask-size($value) {
  -webkit-mask-size: $value;
  mask-size: $value;
}

@mixin mask-position($value) {
  -webkit-mask-position: $value;
  mask-position: $value;
}

@mixin mask-image($value) {
  -webkit-mask-image: $value;
  mask-image: $value;
}

/* generic transform by (oleksii_zhuk)*/
@mixin transform-scale($value) {
  -moz-transform: scale($value);
  -o-transform: scale($value);
  -ms-transform: scale($value);
  -webkit-transform: scale($value);
  transform: scale($value);
}

/* generic transform by (oleksii_zhuk)*/
@mixin transform-origin($value) {
  -moz-transform-origin: ($value);
  -o-transform-origin: ($value);
  -ms-transform-origin: ($value);
  -webkit-transform-origin: ($value);
  transform-origin: ($value);
}

