@font-face {
  font-family: "Lato-Black";
  src: url("./fonts/Lato-Black/Lato-Black.eot");
  src: url("./fonts/Lato-Black/Lato-Black.ttf");
  src: url("./fonts/Lato-Black/Lato-Black.woff"); }
@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato-Bold/Lato-Bold.eot");
  src: url("./fonts/Lato-Bold/Lato-Bold.ttf");
  src: url("./fonts/Lato-Bold/Lato-Bold.woff"); }
@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular/Lato-Regular.eot");
  src: url("./fonts/Lato-Regular/Lato-Regular.ttf");
  src: url("./fonts/Lato-Regular/Lato-Regular.woff"); }
@font-face {
  font-family: "MavenProRegular";
  src: url("./fonts/MavenProRegular/MavenProRegular.eot");
  src: url("./fonts/MavenProRegular/MavenProRegular.ttf");
  src: url("./fonts/MavenProRegular/MavenProRegular.woff"); }
.container-portfolio {
  max-width: 980px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

.container {
  max-width: 780px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

.header {
  background-color: #323232; }

.header__nav {
  text-align: center; }

.header__nav__ul {
  margin: 0;
  padding: 0; }

.header__nav__ul__li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: middle; }
  .header__nav__ul__li a {
    font-size: 10px;
    color: #ffffff;
    font-family: Lato-Bold, sans-serif;
    text-decoration: none; }
    .header__nav__ul__li a:hover {
      color: #2eb398; }

.logo {
  position: relative; }
  .logo:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 59px;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 25px solid #323232;
    clear: both; }

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0; }

.portfolio__item {
  flex: 0 0 20%; }
  .portfolio__item:nth-child(0n+6), .portfolio__item:nth-child(0n+15) {
    margin-left: 10%; }

.portfolio__item__art {
  background-color: #4f9ea0;
  color: #ffffff;
  width: 180px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  text-align: center;
  display: flex;
  align-items: center; }
  .portfolio__item__art:hover {
    transition: 0.5s;
    transform: scale(1.1); }
  .portfolio__item__art img {
    width: 180px;
    height: 200px;
    position: absolute;
    transition: 0.75s;
    transform-origin: 0 50%; }

.section-2 {
  background-color: #2eb398;
  display: flex; }

.about {
  display: flex;
  padding: 70px 0; }

.about__photo {
  flex: 0 0 20%;
  padding: 0 20px; }

.about__photo__article {
  background-color: #4f9ea0;
  color: #ffffff;
  width: 180px;
  height: 200px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  text-align: center;
  display: flex;
  align-items: center; }
  .about__photo__article figure {
    padding: 0 0.5em; }
  .about__photo__article img {
    width: 180px;
    height: 200px;
    position: absolute;
    transition: 0.75s;
    transform-origin: 0 50%; }
    .about__photo__article img:hover {
      transform: translate(6%, -6%) rotate(-140deg); }

.about__info__text h2 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #d7fcf5;
  font-family: MavenProRegular, sans-serif; }
.about__info__text span {
  color: #20816d;
  font-size: 18px;
  font-family: MavenProRegular, sans-serif; }
.about__info__text p {
  font-size: 12px;
  color: #d7fcf5;
  font-family: Lato-Regular, sans-serif; }

.about__info__social {
  display: flex;
  justify-content: flex-end;
  padding-top: 5%; }

.about__info__social__item {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  background-color: #a4dbd4; }
  .about__info__social__item:nth-child(even) {
    background-color: #6ccbbe; }
  .about__info__social__item:hover {
    background-color: #8198ff; }
  .about__info__social__item a {
    color: black; }

.section-3 {
  background-color: #323232; }

.section-3__feedback {
  display: flex;
  padding: 68px 0; }

.section-3__feedback__get-in {
  flex: 0 0 75%; }

.section-3__feedback__get-in__title h2 {
  font-size: 30px;
  color: #e0e0e0;
  font-family: MavenProRegular, sans-serif;
  margin: 0;
  padding: 0; }
.section-3__feedback__get-in__title span {
  font-size: 18px;
  color: #bebebe;
  font-family: MavenProRegular, sans-serif; }

.section-3__feedback__get-in__form input, .section-3__feedback__get-in__form textarea {
  width: calc(100% - 32px);
  margin-bottom: 16px;
  background-color: #454545;
  padding: 16px;
  border: none;
  color: #bebebe;
  font-size: 12px;
  font-family: Lato-Regular, sans-serif; }
  .section-3__feedback__get-in__form input:focus, .section-3__feedback__get-in__form textarea:focus {
    outline: none; }
  .section-3__feedback__get-in__form input:first-child, .section-3__feedback__get-in__form textarea:first-child {
    margin-top: 16px; }
.section-3__feedback__get-in__form input[type=submit] {
  font-size: 12px;
  color: #d7fcf5;
  font-family: Lato-Bold, sans-serif;
  background-color: #2eb398;
  width: 90px;
  float: right; }

.section-3__feedback__contact_info {
  padding: 50px 0 0 20px; }

.section-3__feedback__contact_info__text {
  font-size: 12px;
  font-family: Lato-Regular, sans-serif;
  color: #bebebe;
  line-height: 22px; }
  .section-3__feedback__contact_info__text span {
    color: #e0e0e0; }

.section-3__feedback__contact_info__contact {
  color: #2eb398; }
  .section-3__feedback__contact_info__contact i {
    width: 16px;
    height: 16px;
    text-align: center; }
  .section-3__feedback__contact_info__contact span {
    font-size: 12px;
    font-family: Lato-Regular, sans-serif;
    color: #bebebe;
    line-height: 22px;
    padding-left: 13px; }

.footer {
  background-color: #222222;
  padding: 18px 0; }
  .footer span {
    color: #454545;
    font-size: 12px;
    font-family: MavenProRegular, sans-serif; }

@media only screen and (max-width: 992px) {
  .portfolio__item {
    flex: 0 0 33%;
    display: flex;
    justify-content: center; }
    .portfolio__item:nth-child(0n+6), .portfolio__item:nth-child(0n+15) {
      margin-left: 0; }

  .portfolio {
    padding: 0; } }
@media only screen and (max-width: 768px) {
  .header__nav {
    text-align: left; }

  .header__nav__ul__li {
    display: block; }

  .logo {
    display: none; }

  .section-1 {
    background-color: #fff; }

  .portfolio {
    padding: 0; }

  .portfolio__item {
    flex: 0 0 33%;
    display: flex;
    justify-content: center; }
    .portfolio__item:nth-child(0n+6), .portfolio__item:nth-child(0n+15) {
      margin-left: 0; }

  .portfolio__item__art {
    width: 125px;
    height: 150px; }
    .portfolio__item__art img {
      width: 125px;
      height: 150px; }

  .about {
    flex-wrap: wrap;
    padding: 0; }

  .about__photo {
    margin: 0 auto; }

  .about__info {
    text-align: center; }

  .about__info__social {
    justify-content: center; }

  .section-3__feedback {
    flex-wrap: wrap; }

  .section-3__feedback__get-in {
    flex: 0 0 100%; }

  .submit {
    width: 100%; } }
@media only screen and (max-width: 568px) {
  .portfolio__item {
    flex: 0 0 50%;
    display: flex;
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */
