
@media only screen and (max-width: 768px) {
  .header__nav {
    text-align: left;
  }
  .header__nav__ul__li {
    display: block;
  }
  .logo {
    display: none;
  }
  .section-1 {
    background-color: #fff;
  }

  .section-3__feedback {
    @include flex-wrap(wrap);
  }
  .section-3__feedback__get-in {
    @include flex(0 0 100%);
  }
  .submit {
    width: 100%
  }
}

